.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */


/* убираем скроллбар */ 
::-webkit-scrollbar { 
	display: none;
}
.body-mobile{
    height: calc(var(--vh, 1vh) * 100);
}
/* весь курсив другим шрифтом */
i{
	font-family: 'Pacifico', cursive;
}
/* дефолтный шрифт */
body{
	font-family: 'Open Sans', sans-serif;
}
/* Кнопка на форме фильтрации */

/* Стиль для цены */

/* Специальный hr для параметров вина*/

/* слайд каталога */
.swiper-container-v{
	overflow: hidden;
    background: #343a40;
}
.swiper-slide {
    background: #343a40;
    z-index:9997;
}

.catalog-swiper-container-v p {
	text-align: center;
	font-size: 1.5vh;
	color:#082948;
	z-index:9997;
}
/* кастомные стрелки для свайпера */
.swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23fece35'%2F%3E%3C%2Fsvg%3E") !important;
}
.swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23fece35'%2F%3E%3C%2Fsvg%3E") !important;
}
/* стрелка вниз */
.arrow-down{
    margin-top:-2.5vh;
    height: 2.5vh; 
    z-index: 9999;
}
/* стрелка вверх */
.arrow-up{
    height: 2.5vh; 
    z-index: 9999;
}
/* верхнее главное меню */
.top-menu{
    height: 4.5rem;
    background: #3f474e;
    z-index: 9999; 
}