<div class="alco-about text-center h-100 white-bordered">  
    <div style="width:100%;height:2.5vh;"></div>
    <!-- шапка -->
    <hr>
    <p style="font-size: 4.5vh"> <b>Описание</b></p>
    <hr>
    <!-- конец шапки -->
    <!-- описание -->
    <div class="textbox swiper-no-swiping" style="overflow:hidden;overflow-y:scroll;height:80vh;padding:0 5% 5% 5%;text-align:justify;">
        <p style="font-size: 3.5vh">
            ОСОБЕННОСТИ
            "Alasia" Barolo — полнотелое красное сухое вино, созданное из винограда сорта Неббиоло.
            Бароло обладает сложным ароматом, который сочетает в себе оттенки минералов, дерева, ванили и цветочные нюансы. 
            Стойкий вкус вина завораживает элегантной шелковистой текстурой, оттенками специй, красных фруктов и долгим, гармоничным послевкусием.  
            ОРГАНОЛЕПТИКА
            Вино красно-гранатового цвета.Сложный аромат вина сочетает в себе оттенки минералов, дерева, ванили и цветочные нюансы.
            Вино обладает стойким вкусом с элегантной шелковистой текстурой, оттенками специй, красных фруктов и долгим, гармоничным послевкусием.
            СОЧЕТАЕМОСТЬ
            Вино прекрасно сочетается с выдержанными сырами, красным мясом и дичью.
            ЛЕГЕНДА
            Araldica Castelvero— это крупнейший и наиболее прогрессивный кооператив Пьемонта, созданный в 1954 году и на данный момент насчитывающий около 300 членов. 
            В основном это мелкие владельцы виноградников, которые почти на 1000 га площади выращивают местные белые сорта винограда — Москато и Кортезе, синий сорт 
            Барбера и международные сорта — Мерло, Каберне Совиньон и Шардоне. Виноградники расположены в нескольких крупных областях Пьемонта, таких как Ланге,
            Монферрато, Роэро и Гави.
            ТЕРРУАР/ВИНОГРАДНИК
            Кооперативу принадлежит винодельня Antica Contea di Сastelvero, самая старая часть которой была построена в 1954 году.
            Выдержка вин тогда осуществлялась в цементных чанах. В 60-70 годах была проведена их полная замена на емкости из нержавеющей стали и дерева.
            В 1972–1978 годах компания вкладывает крупные инвестиции в постройку большого погреба для выдержки вин в дубовых бочках общим объемом 15 000 гектолитров
            . Здесь налаживается выдержка вин линейки "Barbera d'Asti", которая претендовала на почетное звание "лучшей" среди широкого ассортимента вин компании.
            В 1999 году построен современный склад и завод по розливу вин Araldica. Продолжая свое расширение, компания в 1998 году приобретает поместье "Cascinone" 
            (102 га земли), расположенное в муниципалитете Генуя, а также "Battistina", находящееся недалеко от города Гави. 
            В каждой из них были построены собственные подвалы для винификации.
            Несмотря на то, что компания Аральдика Кастельвероявляется кооперативом, благодаря Клаудио Манера — управляющему директору и энологу компании — здесь прису
            тствуют "семейные традиции". Его отец, Ливио Манера, был первым виноделом кооператива в пятидесятых годах, а его жена Лелла работает виноделом компании и от
            вечает за контроль качества выпускаемой продукции. Клаудио руководствуется принципом, что инвестиции в виноградники имеют решающее значение для создания каче
            ственных вин. Собранный фермерами виноград сортируется на различные классы качества для определения его последующего назначения, а также устанавливаются цены,
            которые получают фермеры за свой урожай. Такой подход побуждает фермеров уделять особое внимание своим виноградникам и выгоден для обеих сторон.
            В сочетании с современными методами виноделия и продуманным маркетингом, компания Araldica Castelvero предоставляет широкий спектр качественных и доступных в
            ин, с успехом завоевавших как внутренние, так и международные рынки.
        </p>
        <hr>
    </div> 
    <!-- конец описания -->
</div>