<!-- карточка вина в каталоге -->
<div class="alco-card row w-100 pl-5 pr-5 pt-0 pb-0 m-0" id="0">
    <div class="border row mt-3 ml-0 mr-0 p-2 bg-white w-100" style="height: 21.4vh;border-radius: 20px;">
        <div class="col-2 h-100 text-center">
            <!-- фото вина -->
            <img class="h-100" src="static/media/wines/001.jpg">
        </div>
        <div class="col">
            <div class="row mt-2 d-flex align-items-center justify-content-center">
                <!-- название вина -->
                <p style="font-size: 2vh;"><b>"Alasia" Barolo DOCG</b></p>
            </div>
            <!-- параметры вина -->
            <div class="row w-100 mt-0 justify-content-center">
                <div class="col-4 text-right">
                    <p style="font-size: 1.5vh; color:#a6a4b0;"><img class="h-100" src="static/media/index/wine.png"><b>Красноe</b></p>
                </div>
                <div class="col-5 text-center">
                    <p style="font-size: 1.5vh; color:#a6a4b0;"><img class="h-100" src="static/media/index/where.PNG"><img class="h-100"><b>Италия</b></p>
                </div>
                <div class="col-3">
                    <p style="font-size: 1.5vh; color:#a6a4b0;"><img class="h-100" src="static/media/index/alco.png"><b>14%</b></p>
                </div>
            </div>
            <hr class="mt-0">
            <!-- объем и цена -->
            <div class="row w-100 mt-0 d-flex align-items-center justify-content-center">
                <div class="col-12 col-lg-6 text-center">
                    <p class="mb-1" style="font-size: 1.5vh;">Бутылка 0.75 л</p>
                </div>
                <div class="col-12 col-lg-6">
                    <p class="price" style="font-size:3vh;"><i>2950 ₽</i></p>
                </div>
            </div>
        </div>
    </div>
</div>