<container>
    <div class="row h-100 w-100 m-0">
        <div class="col-5 p-0">
            <div class="alco-photo m-0">
                <!-- Фото вина -->
                <img src="static/media/wines/002.jpg">
            </div>
        </div>
        <div class="col-7 p-0">
            <div class="alco-par text-center m-0 pt-4 white-bordered">
                <container>
                    <!-- Параметры вина -->
                    <div class="row">
                        <div class="col-12">
                            <p style="font-size: 1.5vh; color:#a6a4b0;">Артикул: 11</p>
                            <p style="font-size: 2.5vh"> <b>"Alasia" Barolo DOCG</b></p>
                            <p style="font-size: 1.5vh; color:#a6a4b0;">"Алазия" Бароло</p>
                            <hr>
                            <p class="text-left ml-4 mb-0"><img src="static/media/index/where.png"> Италия <i>0.75</i> л</p>
                            <p class="text-left ml-4 mb-0" style="color:#dc6c75;"><img src="static/media/index/wine.png"> КРАСНОЕ СУХОЕ</p>
                            <hr>
                            <div class="row pl-4 pr-4">
                                <!-- Левый статичный столбец -->
                                <div class="col ml-4 p-0 text-left">
                                    <p style="font-size:2vh;"><b>Вино:</b> </p>
                                    <p style="font-size:2vh;"><b>Тип вина:</b></p>
                                    <p style="font-size:2vh;"><b>Регион: </b></p>
                                    <p style="font-size:2vh;"><b>Производитель: </b></p>
                                    <p style="font-size:2vh;"><b>Состав: </b></p>
                                    <p style="font-size:2vh;"><b>Производство: </b></p>
                                    <p style="font-size:2vh;"><b>Содержание алкоголя: </b></p>
                                </div>
                                <!-- Правый столбец -->
                                <div class="col mr-4 p-0 text-right">
                                    <p style="font-size:2vh;">Красное - сухое</p>
                                    <p style="font-size:2vh;">Тихое</p>
                                    <p style="font-size:2vh;">Пьемонт - Италия</p>
                                    <p style="font-size:2vh;">Araldica Castelvero</p>
                                    <p style="font-size:2vh;">Неббиоло</p>
                                    <p style="font-size:2vh;">Традиционное</p>
                                    <p style="font-size:2vh;">14%</p>
                                </div>
                                <hr>
                                <!-- Цена -->
                                <p class="price"><i>2950 ₽ </i></p>
                            </div>	
                        </div>
                    </div>
                </container>
            </div> 			
        </div>
    </div>
</container>