<!-- карточка описания конкретного вина -->
<!-- data-hash должен быть уникален и соответствовать id в каталоге -->
<div class="swiper-slide bg-dark pt-5" data-hash="0">
    <section class="pt-5 pl-5 pr-5 pb-4 h-100">
        <div class="col-12 border h-100 bg-white" style="border-radius: 25px; overflow: hidden;">
            <div class="row h-100">
                <div class="col-5 h-100 pt-2 pb-2 d-flex justify-content-center">
                    <img class=" h-100 w-auto" src="static/media/wines/001.jpg">
                </div>
                <div class="col-7 h-100 pt-4 text-center">
                    <h6 class="mb-0" style="color:#a6a4b0;">Артикул: 11</h6>
                    <h4 class="mb-0" id="name0"> <b>"Alasia" Barolo DOCG</b></h4>
                    <h6 style="color:#a6a4b0;">"Алазия" Бароло</h6>
                    <hr class="mb-0">
                    <h6 class="text-left mb-0"><img src="static/media/index/where.png"> Италия <i>0.75</i> л</h6>
                    <h6 class="text-left mb-0"><img src="static/media/index/wine.png"> КРАСНОЕ СУХОЕ</h6>
                    <hr class="mt-0">
                    <div class="row">
                        <div class="col-3 text-left m-auto">
                            <h6><b>Вино:</b></h6>
                        </div>
                        <div class="col text-right mt-auto mb-auto mr-4">
                            <h6>Красное - сухое</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 text-left m-auto">
                            <h6><b>Тип вина:</b></h6>
                        </div>
                        <div class="col text-right mt-auto mb-auto mr-4">
                            <p style="font-size:1.1rem;">Тихое</p>
                        </div>
                    </div>
                    <div class="adaptive-info">
                        <div class="row">
                            <div class="col-4 text-left m-auto">
                                <h6><b>Регион:</b></h6>
                            </div>
                            <div class="col text-right mt-auto mb-auto mr-4">
                                <h6>Пьемонт - Италия</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-left m-auto">
                                <h6><b>Производитель:</b></h6>
                            </div>
                            <div class="col text-right mt-auto mb-auto mr-4">
                                <h6>Araldica Castelvero</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 text-left m-auto">
                                <h6><b>Состав:</b></h6>
                            </div>
                            <div class="col text-right mt-auto mb-auto mr-4">
                                <h6>Неббиоло</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 text-left m-auto">
                                <h6><b>Производство:</b></h6>
                            </div>
                            <div class="col text-right mt-auto mb-auto mr-4">
                                <h6>Традиционное</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9 text-left mb-auto mt-auto ml-0 pr-0 mr-0">
                                <h6><b>Содержание алкоголя:</b></h6>
                            </div>
                            <div class="col-2 text-right mt-auto mb-auto mr-4 pl-0">
                                <h6>14%</h6>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-0">
                    <div class="row pl-4 pr-4">
                        <h1 class="w-100 text-center" style="font-size: 3rem;"><i>2950 ₽ </i></h1>	
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>