<!-- карточка описания конкретного вина -->
<!-- data-hash должен быть уникален и соответствовать id в каталоге -->
<div class="swiper-slide bg-dark" data-hash="1">
    <container>
        <div class="row border" style="width:90vw; height: 88vh; margin:9.5vh 0 5vw 5vw; border-radius: 25px; overflow:hidden;">
            <div class="col-5 p-0 h-100">
                <div class="alco-photo m-0 h-100">
                    <!-- фото вина -->
                    <img src="static/media/wines/001.jpg">
                </div>
            </div>
            <!-- параметры вина -->
            <div class="col-7 p-0 h-100">
                <div class="alco-par text-center m-0 pt-4 white-bordered">
                    <container>
                        <div class="row pl-4 pr-4">
                            <div class="col-12 pl-5">
                                <p style="font-size: 1.5vh; color:#a6a4b0;">Артикул: 11</p>
                                <p style="font-size: 2.5vh"> <b>"Alasia" Barolo DOCG</b></p>
                                <p style="font-size: 1.5vh; color:#a6a4b0;">"Алазия" Бароло</p>
                                <hr>
                                <p class="text-left mb-0" style="font-size: 1.7vh;"><img src="static/media/index/where.png"> Италия <i>0.75</i> л</p>
                                <p class="text-left mb-0" style="font-size: 1.7vh; color:#dc6c75;"><img src="static/media/index/wine.png"> КРАСНОЕ СУХОЕ</p>
                                <hr>
                                <div class="row">
                                    <div class="col-3 text-left m-auto">
                                        <p style="font-size:2vh;"><b>Вино:</b></p>
                                    </div>
                                    <div class="col text-right mt-auto mb-auto mr-4">
                                        <p style="font-size:2vh;">Красное - сухое</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 text-left m-auto">
                                        <p style="font-size:2vh;"><b>Тип вина:</b></p>
                                    </div>
                                    <div class="col text-right mt-auto mb-auto mr-4">
                                        <p style="font-size:2vh;">Тихое</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 text-left m-auto">
                                        <p style="font-size:2vh;"><b>Регион:</b></p>
                                    </div>
                                    <div class="col text-right mt-auto mb-auto mr-4">
                                        <p style="font-size:2vh;">Пьемонт - Италия</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 text-left m-auto">
                                        <p style="font-size:2vh;"><b>Производитель:</b></p>
                                    </div>
                                    <div class="col text-right mt-auto mb-auto mr-4">
                                        <p style="font-size:2vh;">Araldica Castelvero</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3 text-left m-auto">
                                        <p style="font-size:2vh;"><b>Состав:</b></p>
                                    </div>
                                    <div class="col text-right mt-auto mb-auto mr-4">
                                        <p style="font-size:2vh;">Неббиоло</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 text-left m-auto">
                                        <p style="font-size:2vh;"><b>Производство:</b></p>
                                    </div>
                                    <div class="col text-right mt-auto mb-auto mr-4">
                                        <p style="font-size:2vh;">Традиционное</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9 text-left mb-auto mt-auto ml-0 pr-0 mr-0">
                                        <p style="font-size:2vh;"><b>Содержание алкоголя:</b></p>
                                    </div>
                                    <div class="col-2 text-right mt-auto mb-auto mr-4 pl-0">
                                        <p style="font-size:2vh;">14%</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row pl-4 pr-4">
                                    <p class="price"><i>2950 ₽ </i></p>	
                                </div>
                            </div>
                        </div>
                    </container>
                </div> 			
            </div>
        </div>
    </container>
</div>